body {
    background: rgb(99,199,255);
background: linear-gradient(90deg, rgba(99,199,255,1) 5%, rgba(85,214,230,1) 51%, rgba(99,199,255,1) 100%);
    font-family: sans-serif;
    color: white;

}

main {

    width: 730px;
    margin: 100px auto 50px;
    display: flex;
    align-items: center;
}

.section1 {

    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.boton {
    height: 110px;
    width: 100px;
    font-size: 40px;
    color: white;
    font-weight: bold;
}

button :hover {
    cursor: pointer;
}

.section2 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    width: 350px;
    height: 480px;
    top: 17%;
    left: 54.9%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 0 20px;
    
}
.section2 h2{
    margin-top: 20px;
}

.estadisticas {
    border: 1px solid white;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
    
}

.section2 .reset{

    border:1px solid white;
    height: 8%;
    width: 100%;
    border-radius: 5px;
  
}
.section2 .reset a{
    position: absolute;
    text-decoration: none;
    color: white;
    margin-left: 100px;
    top:79%;
}
.section2 .reset a:hover{
    color: rgb(1, 85, 93);
}
.next a{
    text-decoration: none;
    color: white;
    margin: 10px;
}

 .next {
    position: absolute;
    left: 64%;
    top: 8%;
    cursor: pointer;
    
   
}

/* menu de despliegue */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
   
}

.navigation {
    position: fixed;
    top: 20px;
    left: 20px;
    bottom: 20px;
    width: 70px;
    border-radius: 10px;
    box-sizing: initial;
    border-left: 5px solid #eeeeee;
    background: #eeeeee;
    transition: 0.5s;
    overflow: hidden;

}

.navigation.active {
    width: 240px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navigation ul li b:nth-child(1) {
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background: rgb(99, 199, 255);
    display: none;
}

.navigation ul li b:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background:  #eeeeee;
}

.navigation ul li b:nth-child(2) {
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background:  rgb(99, 199, 255);
    display: none;
}

.navigation ul li b:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background:  #eeeeee;
}


.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2) {
    display: block;
}

.navigation ul li.active {
    background:  rgb(99, 199, 255);

}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.navigation ul li.active a {
    color:rgb(255, 255, 255);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon .bi {

    font-size: 1.4em;
    color: rgb(255, 255, 255);

}

.navigation ul li a .title {

    position: relative;
    display: block;
    padding-left: 10px;
    height: 60px;
    line-height: 60px;
    white-space: normal;
}

.toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: rgb(250, 250, 250);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle.active {
    background: #ff4d89;
}

.toggle ion-icon {
    position: absolute;
    color: rgb(99, 199, 255);
    font-size: 34px;
    display: none;
}

.toggle ion-icon.open,
.toggle.active ion-icon.close {
    display: block;
}

.toggle ion-icon.close,
.toggle.active ion-icon.open {
    display: none;
    color: white;
}
.alert{
   height: 10%;
   color: #ff4d89;
    
}